.input{
    height: 38px;
    background-color: var(--bg-input)!important;
    font-size:16px;
    border:2px solid var(--border-card);
    border-radius: 12px;
    width: 100%;
    color:var(--text-secondary)!important;
    padding:1rem;
    font-weight: 400;

    
}

.label{
     font-weight: 400;
     color:var(--text-secondary);
}


.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {

    -webkit-box-shadow: 0 0 0 30px var(--bg-page) inset !important;
    -webkit-text-fill-color: var(--text-primary) !important;
    transition: background-color 5000s ease-in-out 0s;
}




